body {
  background-color: #474747;
  color: hsl(40, 36%, 73%);
  font-family: Verdana, sans-serif;
}

a {
  color: hsl(39, 100%, 50%);
}

li {
  color: #474747;
  margin-bottom: 8px;
}

ul {
  padding-left: 0;
}

h1,
li {
  text-align: center;
}