body {
  background-color: #474747;
  color: hsl(40, 36%, 73%);
  font-family: Verdana, sans-serif;
}

h1 {
  text-align: center;
}

img {
  height: auto;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid hsl(40, 36%, 73%);
}

a {
  color: hsl(39, 100%, 50%);
}

hr {
  color: hsl(40, 36%, 73%);
  width: 750px;
}

h2,
p {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

ul,
ol {
  display: block;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  margin-bottom: 5px;
}

li {
  margin-bottom: 16px;
}